LOCALSTACK_ENDPOINT=http://localhost:4566
SQS_QUEUE_NAME=demo-queue
SQS_QUEUE_URL=http://localhost:4566/000000000000/demo-queue
EVENTBRIDGE_BUS_NAME=demo-event-bus
API_HOST=0.0.0.0
API_PORT=8000

# Database
DATABASE_URL=postgresql+asyncpg://eda_user:eda_pass@localhost:5432/eda_demo
